{% extends 'base.html' %}

{% block content %}


<h1  align="center">Team 4</h1>
<h2 align="center">Welcome to the world of Trading</h2>
<p align="Center"> 
	Our Website will recommend Arbitrage trading opportunities 
	from the  NIFTY 50 companies listed on National Stock Exchange 
	and Bombay Stock Exchange in India.

</p>

<h2 align="left"> Don't know what is Arbitrage? We got you covered </h2>
<p align="center"> Arbitrage is the simultaneous buying and selling of securities, currency, or commodities in different markets or in derivative forms in order to take advantage of differing prices for the same asset.</p>


{% endblock %}